extends layout

block content

  div(class="mt-4 ml-4")
    p Goal: Take a picture of your math homework and we'll solve it for you!
    p Enter your query for Wolfram Alpha:
    div
      form(method="post")
        input(type="text" name="string" class="input-text")
        input(type="submit" value="Submit")
    hr
    if success
      div(class="ml-4 mt-4 border pl-4 pt-4")
        p #[b success]: #{success}
        p #[b error]: #{error}
        p #[b numpods]: #{numpods}
        p #[b id]: #{id}
