body {
  color: #333333;
  font-family: Optima;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  background: #fef6f1;
}

footer {
  background-color: #f6eee9;
  color: #888888;
  margin-top: 2px;
  //border-top: 3px solid #eeeeee;
  padding: 16px 0;
}

header {
  text-align: center;
  margin-bottom: 48px;
  background: indianred;
}

header a {
  color: floralwhite;
  font-size: 20px;
  font-family: Chalkduster;
  margin-right: 16px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
  color: floralwhite;
  text-align: center;
  font-family: Chalkduster;
}

h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 30px;
  font-family: Optima;
}

#mathpix-form {
  margin-left: 30%;
  margin-right: 30%;
  text-align: -webkit-left;
  border: 10px solid #888888;
  padding: 8px;
  font-size: 20px;
}

image {
  height: 100px;
  width: 80%;
}

button {
  border: none;
  cursor: pointer;
  background: #fef6f1;
  color: maroon;
}
